<h2><font color='red'> Run after running all scripts(cluster_manager.py,create_tables.py,etl.py)
) </font> </h2>

## Load DWH Params from a file

In [1]:
!pip install psycopg2-binary sqlalchemy-redshift

Collecting psycopg2-binary
  Using cached psycopg2_binary-2.9.9-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
Collecting sqlalchemy-redshift
  Using cached sqlalchemy_redshift-0.8.14-py2.py3-none-any.whl (38 kB)
Collecting SQLAlchemy<2.0.0,>=0.9.2
  Using cached SQLAlchemy-1.4.53-cp38-cp38-manylinux1_x86_64.manylinux2010_x86_64.manylinux_2_12_x86_64.manylinux_2_5_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
Collecting packaging
  Using cached packaging-24.1-py3-none-any.whl (53 kB)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" and (platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32")))))) in ./env/lib/python3.8/site-packages (from SQLAlchemy<2.0.0,>=0.9.2->sqlalchemy-redshift) (3.0.3)
ERROR: ipython-sql 0.5.0 has requirement sqlalchemy>=2.0, but you'll have sqlalchemy 1.4.53 which is incompatible.
Installing collected packages: psycopg2-binary, SQLAlchemy, packaging, sqlalchemy-redshift
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.32
    Uninstalling SQLAlchemy-2.0.32:
      Successfully uninstalled SQLAlchemy-2.0.32
Successfully installed SQLAlchemy-1.4.53 packaging-24.1 psycopg2-binary-2.9.9 sqlalchemy-redshift-0.8.14

In [2]:
import configparser
import psycopg2
import boto3
import pandas as pd

In [3]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
DWH_CLUSTER_IDENTIFIER = config.get("CLUSTER","DWH_CLUSTER_IDENTIFIER")
KEY           = config.get('AWS','KEY')
SECRET        = config.get('AWS','SECRET')
DWH_DB_NAME            = config.get("CLUSTER","DB_NAME")
DWH_DB_USER            = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD        = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT               = int(config.get("CLUSTER","DB_PORT"))
DWH_ENDPOINT           = config.get("CLUSTER","HOST")
DWH_IAM_ROLE_NAME      = config.get("IAM_ROLE","dwh_iam_role_name")

## Create clients and resources for IAM and Redshift

In [4]:
iam = boto3.client('iam',region_name='us-west-2', 
                      aws_access_key_id=KEY,
                      aws_secret_access_key=SECRET)

redshift = boto3.client('redshift',
                        region_name='us-west-2', 
                        aws_access_key_id=KEY,
                        aws_secret_access_key=SECRET)

## Connect with Redshift Cluster

In [5]:
%load_ext sql

In [7]:
#the connection can be error to run for the first time. If that occur run again this line
conn_string="redshift+psycopg2://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB_NAME)

print(conn_string)
%sql $conn_string

redshift+psycopg2://dwhuser:Project0@dwhclustersparkfy.c1rlryzy0frw.us-west-2.redshift.amazonaws.com:5439/sparkfy_songs

## Perform some simple data analysis

## Users

In [8]:
%%sql
select*from users
limit 5;

 * redshift+psycopg2://dwhuser:***@dwhclustersparkfy.c1rlryzy0frw.us-west-2.redshift.amazonaws.com:5439/sparkfy_songs
5 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free')]

## Artists

In [9]:
%%sql
select*from artists
limit 5;

 * redshift+psycopg2://dwhuser:***@dwhclustersparkfy.c1rlryzy0frw.us-west-2.redshift.amazonaws.com:5439/sparkfy_songs
5 rows affected.

[('ARTW7I31187B9A4CA9', '!!!', '', None, None),
 ('ARZ4MFK1187FB3DF9D', '2 Fabiola', '', None, None),
 ('ARB57BN1187B9B5EAF', '36 Crazyfists', 'Anchorage, AK', 61.21756, -149.85776),
 ('AR4E4121187FB51F4E', 'A Fine Frenzy', 'Los Angeles', None, None),
 ('ARADNLR124549A36DE', 'A.B. Quintanilla III Y Los Kumbia All Starz', '', None, None)]

## Songs

In [11]:
%%sql
select *from songs
limit 5;

 * redshift+psycopg2://dwhuser:***@dwhclustersparkfy.c1rlryzy0frw.us-west-2.redshift.amazonaws.com:5439/sparkfy_songs
5 rows affected.

[('SOAADAD12A8C13D5B0', 'One Shot (Album Version)', 'ARQTC851187B9B03AF', 2005, 263.99302),
 ('SOABCEU12A8C132027', 'Cold Waste', 'ARL6NP61187B98C1FC', 2007, 385.43628),
 ('SOABWAP12A8C13F82A', 'Take Time', 'AR5LMPY1187FB573FE', 1978, 258.89914),
 ('SOABYIT12AB0183026', 'Vilda vindar', 'AR98ZSW1187B98E82C', 1985, 266.13506),
 ('SOAESJW12A8C137CC2', 'Musical Episode', 'AR3PN3R1187FB4CEBD', 2005, 234.44853)]

### Most played song

In [12]:
%%sql
select s.title as song_name,COUNT(sp.song_id) as most_played 
FROM songplays sp 
JOIN songs s on sp.song_id=s.song_id 
GROUP BY(s.title) 
ORDER  BY most_played DESC 
limit 1;

 * redshift+psycopg2://dwhuser:***@dwhclustersparkfy.c1rlryzy0frw.us-west-2.redshift.amazonaws.com:5439/sparkfy_songs
1 rows affected.

[('Wicker Chair', 55)]

### Song song least played

In [13]:
%%sql
select s.title as song_name,COUNT(sp.song_id) as least_played 
FROM songplays sp
JOIN songs s on sp.song_id=s.song_id
GROUP BY(s.title)
ORDER  BY least_played ASC
limit 1;

 * redshift+psycopg2://dwhuser:***@dwhclustersparkfy.c1rlryzy0frw.us-west-2.redshift.amazonaws.com:5439/sparkfy_songs
1 rows affected.

[('Reasons (Radio Remix)', 1)]

### Song most played on 2018

In [14]:
%%sql
SELECT s.title AS song_name, COUNT(sp.song_id) AS  most_played, t.year
FROM songplays sp
JOIN songs s ON sp.song_id = s.song_id
JOIN time t ON sp.start_time = t.start_time
WHERE t.year = 2018
GROUP BY s.title, t.year
ORDER BY  most_played  DESC
LIMIT 1;

 * redshift+psycopg2://dwhuser:***@dwhclustersparkfy.c1rlryzy0frw.us-west-2.redshift.amazonaws.com:5439/sparkfy_songs
1 rows affected.

[('Wicker Chair', 55, 2018)]

## Delete a cluster

In [15]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

In [16]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

{'Cluster': {'ClusterIdentifier': 'dwhclustersparkfy',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'ClusterAvailabilityStatus': 'Modifying',
  'MasterUsername': 'dwhuser',
  'DBName': 'sparkfy_songs',
  'Endpoint': {'Address': 'dwhclustersparkfy.c1rlryzy0frw.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2024, 8, 21, 17, 20, 32, 285000, tzinfo=tzutc()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ManualSnapshotRetentionPeriod': -1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-0b7fdd2f73d796266',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-038f09d6ca3a0b4c3',
  'AvailabilityZone': 'us-west-2c',
  'PreferredMaintenanceWindow': 'tue:11:30-tue:12:00',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::850995581612:role/dwhRoleX',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current',
  'DeferredMaintenanceWindows': [],
  'NextMaintenanceWindowStartTime': datetime.datetime(2024, 8, 27, 11, 30, tzinfo=tzutc()),
  'ClusterNamespaceArn': 'arn:aws:redshift:us-west-2:850995581612:namespace:95a3cebe-c689-4e6b-89f3-bbd5ba0ed827',
  'TotalStorageCapacityInMegaBytes': 1600000,
  'AquaConfiguration': {'AquaStatus': 'disabled',
   'AquaConfigurationStatus': 'auto'},
  'MultiAZ': 'Disabled'},
 'ResponseMetadata': {'RequestId': 'de604008-56c6-4f39-b41e-71ba7296c9d7',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'de604008-56c6-4f39-b41e-71ba7296c9d7',
   'content-type': 'text/xml',
   'content-length': '2907',
   'date': 'Wed, 21 Aug 2024 17:33:19 GMT'},
  'RetryAttempts': 0}}

In [18]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

ValueError: Value must be a nonnegative integer or None

In [19]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!

{'ResponseMetadata': {'RequestId': '4ab09eb8-1da0-406e-8d20-bb437793d036',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 21 Aug 2024 17:34:16 GMT',
   'x-amzn-requestid': '4ab09eb8-1da0-406e-8d20-bb437793d036',
   'content-type': 'text/xml',
   'content-length': '200'},
  'RetryAttempts': 0}}